#presentation {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 20px;
    width: 80%;

    button{
        margin: 15px;
    }
}

#big-image{
    display: inline-block;
    width:80%;
}

a{
    color: white;
}